REACT_APP_URL="http://localhost:3000"
REACT_APP_LOCALE="ja"
REACT_APP_VERSION="develop"

# OAuthの値
REACT_APP_GOOGLE_AUTHORIZATION=
REACT_APP_GOOGLE_CLIENT_ID=
REACT_APP_GOOGLE_REDIRECT_URI_SIGNIN=
REACT_APP_GOOGLE_REDIRECT_URI_REGISTER=

# APIサーバーのオリジン
REACT_APP_API_ORIGIN=

# TSUBUYAKIのフロントエンドのオリジン
REACT_APP_TSUBUYAKI_ORIGIN=

# 対象のRSSフィード
REACT_APP_TARGET_BLOG_RSS=
